.SignUpbtn {
    width: fit-content;
    padding: 1%;

    border: none;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 42%
}
.SignUpbtn button
{
    border: none;
    background-color: #A2D2DF;
    margin: 5%;
    padding: 15%;
    border-radius: 2.5rem;
    cursor: pointer;
}
